.clubsapp__body {
  width: 100vw;
  height: calc(1386 / 1621 * 100vh);
  display: flex;
  flex-direction: column;
  padding-top: calc(138 / 1621 * 100vh);
}
.clubsapp__body__title {
  display: none;
  font-size: 4em;
  color: #ffffff;
  font-weight: 700;
  font-family: Poppins;
  margin-top: 25px;
  margin-bottom: 25px;
}
.clubsapp__body__row1 {
  width: 100vw;
  height: calc(501 / 1621 * 100vh);
  display: flex;
  justify-content: center;
}
.clubsapp__body__text {
  width: 100vw;
  height: calc(246 / 1621 * 100vh);
  background-image: url("./Text\ Background.png");
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.clubsapp__body__text > img {
  height: 80%;
}
.clubsapp__body__row2 {
  width: 100vw;
  height: calc(501 / 1621 * 100vh);
  display: flex;
  justify-content: center;
}
.danceclub {
  width: calc(100% / 6);
  height: 100%;
  background-image: url("./Dance-1.jpg");
  background-size: 100% 100%;
}
.litclub {
  width: calc(100% / 6);
  height: 100%;
  background-image: url("./Lit-1.jpg");
  background-size: 100% 100%;
}
.designclub {
  width: calc(100% / 6);
  height: 100%;
  background-image: url("./Design-1.jpg");
  background-size: 100% 100%;
}
.debateclub {
  width: calc(100% / 6);
  height: 100%;
  background-image: url("./Debating-1.jpg");
  background-size: 100% 100%;
}
.pfcclub {
  width: calc(100% / 6);
  height: 100%;
  background-image: url("./PFC-1.jpg");
  background-size: 100% 100%;
}
.faccclub {
  width: calc(100% / 6);
  height: 100%;
  background-image: url("./facc-1.jpg");
  background-size: 100% 100%;
}
.musicclub {
  width: calc(100% / 6);
  height: 100%;
  background-image: url("./Music-1.jpg");
  background-size: 100% 100%;
}
.dramaclub {
  width: calc(100% / 6);
  height: 100%;
  background-image: url("./Drama-1.jpg");
  background-size: 100% 100%;
}
.hindisamiticlub {
  width: calc(100% / 6);
  height: 100%;
  background-image: url("./hindi\ samiti-1.jpg");
  background-size: 100% 100%;
}
.quizclub {
  width: calc(100% / 6);
  height: 100%;
  background-image: url("./quiz-1.jpg");
  background-size: 100% 100%;
}
.spicmacayclub {
  width: calc(100% / 6);
  height: 100%;
  background-image: url("./Spic\ Macay-1.jpg");
  background-size: 100% 100%;
}
.clubsapp__body__row1 > a,
.clubsapp__body__row2 > a {
  cursor: pointer;
  transition-duration: 0.2s;
}
.clubsapp__body__row1 > a:hover,
.clubsapp__body__row2 > a:hover {
  transform: scale(1.1);
  z-index: 1;
}
.danceclub:hover {
  background-image: url("./Dance.jpeg");
}
.litclub:hover {
  background-image: url("./Lit.jpeg");
}
.designclub:hover {
  background-image: url("./Design.jpg");
}
.debateclub:hover {
  background-image: url("./Debating.jpg");
}
.pfcclub:hover {
  background-image: url("./PFC.jpg");
}
.faccclub:hover {
  background-image: url("./facc.jpeg");
}
.musicclub:hover {
  background-image: url("./Music.JPG");
}
.dramaclub:hover {
  background-image: url("./Drama.jpg");
}
.hindisamiticlub:hover {
  background-image: url("./hindi\ samiti.jpg");
}
.quizclub:hover {
  background-image: url("./quiz.jpg");
}
.spicmacayclub:hover {
  background-image: url("./Spic\ Macay.jpeg");
}
.club__content {
  height: 50%;
  width: 50%;
  margin-left: 50%;
  margin-top: 36.5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.circular__container {
  width: 70%;
  height: 70%;
  background-color: #ffffff;
  border-radius: 50%;
}
.club__content__text {
  color: #ffdc00;
  font-size: 1.5em;
  font-weight: 700;
}
.danceclub > .club__content > .circular__container {
  background-image: url("./Dance\ Logo.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.litclub > .club__content > .circular__container {
  background-image: url("./Lit\ Logo.png");
  background-size: 85% 85%;
  background-repeat: no-repeat;
  background-position: center;
}
.designclub > .club__content > .circular__container {
  background-image: url("./Design\ Logo.png");
  background-size: 80% 80%;
  background-repeat: no-repeat;
  background-position: center;
}
.debateclub > .club__content > .circular__container {
  background-image: url("./Debate\ Logo.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.pfcclub > .club__content > .circular__container {
  background-image: url("./PFC\ Logo.png");
  background-size: 80% 80%;
  background-repeat: no-repeat;
  background-position: center;
}
.dramaclub > .club__content > .circular__container {
  background-image: url("./Drama\ Logo\ 2.png");
  background-size: 65% 65%;
  background-repeat: no-repeat;
  background-position: 65%;
}
.musicclub > .club__content > .circular__container {
  background-image: url("./music\ club\ logo\ light\ bg.png");
  background-size: 115% 115%;
  background-repeat: no-repeat;
  background-position: center;
}
.quizclub > .club__content > .circular__container {
  background-image: url("./qc_green.png");
  background-size: 80% 80%;
  background-repeat: no-repeat;
  background-position: center;
}
.hindisamiticlub > .club__content > .circular__container {
  background-image: url("./Hindi\ Samiti\ Logo.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.faccclub > .club__content > .circular__container {
  background-image: url("./FACC\ Logo.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.spicmacayclub > .club__content > .circular__container {
  background-image: url("./Spic\ Macay\ Logo.png");
  background-size: 70% 70%;
  background-repeat: no-repeat;
  background-position: center;
}
.smallview {
  display: none;
}
.clubsapp__body__row3 {
  width: 100vw;
  height: calc(501 / 1621 * 100vh);
  display: flex;
  justify-content: center;
}
.clubsapp__body__row4 {
  width: 100vw;
  height: calc(501 / 1621 * 100vh);
  display: flex;
  justify-content: center;
}
.clubsapp__body__row5 {
  width: 100vw;
  height: calc(501 / 1621 * 100vh);
  display: flex;
  justify-content: center;
}
.clubsapp__body__row6 {
  width: 100vw;
  height: calc(501 / 1621 * 100vh);
  display: flex;
  justify-content: center;
}
.clubsapp__body__row3 > a,
.clubsapp__body__row4 > a,
.clubsapp__body__row5 > a,
.clubsapp__body__row6 > a {
  cursor: pointer;
  transition-duration: 0.2s;
}
.clubsapp__body__row3 > a:hover,
.clubsapp__body__row4 > a:hover,
.clubsapp__body__row5 > a:hover,
.clubsapp__body__row6 > a:hover {
  transform: scale(1.1);
  z-index: 1;
}
.smallerview {
  display: none;
}
.clubsapp__body__row7 {
  width: 100vw;
  height: calc(501 / 1621 * 100vh);
  display: flex;
  justify-content: center;
}
.clubsapp__body__row8 {
  width: 100vw;
  height: calc(501 / 1621 * 100vh);
  display: flex;
  justify-content: center;
}
.clubsapp__body__row9 {
  width: 100vw;
  height: calc(501 / 1621 * 100vh);
  display: flex;
  justify-content: center;
}
.clubsapp__body__row10 {
  width: 100vw;
  height: calc(501 / 1621 * 100vh);
  display: flex;
  justify-content: center;
}
.clubsapp__body__row11 {
  width: 100vw;
  height: calc(501 / 1621 * 100vh);
  display: flex;
  justify-content: center;
}
.clubsapp__body__row12 {
  width: 100vw;
  height: calc(501 / 1621 * 100vh);
  display: flex;
  justify-content: center;
}
.clubsapp__body__row7 > a,
.clubsapp__body__row8 > a,
.clubsapp__body__row9 > a,
.clubsapp__body__row10 > a,
.clubsapp__body__row11 > a,
.clubsapp__body__row12 > a {
  cursor: pointer;
  transition-duration: 0.2s;
}
.clubsapp__body__row7 > a:hover,
.clubsapp__body__row8 > a:hover,
.clubsapp__body__row9 > a:hover,
.clubsapp__body__row10 > a:hover,
.clubsapp__body__row11 > a:hover,
.clubsapp__body__row12 > a:hover {
  transform: scale(1.1);
  z-index: 1;
}
@media screen and (max-width: 1000px) {
  .clubsapp__body__text {
    display: none;
  }
  .clubsapp__body__title {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .clubsapp__body__row1 {
    display: none;
  }
  .clubsapp__body__row2 {
    display: none;
  }
  .smallview {
    display: flex;
    flex-direction: column;
  }
  .danceclub {
    width: 30%;
  }
  .musicclub {
    width: 30%;
  }
  .debateclub {
    width: 30%;
  }
  .pfcclub {
    width: 30%;
  }
  .quizclub {
    width: 30%;
  }
  .spicmacayclub {
    width: 30%;
  }
  .hindisamiticlub {
    width: 30%;
  }
  .dramaclub {
    width: 30%;
  }
  .faccclub {
    width: 30%;
  }
  .litclub {
    width: 30%;
  }
  .designclub {
    width: 30%;
  }
  .club__content__text {
    font-size: 1.4em;
  }
}

@media screen and (max-width: 410px) {
  .clubsapp__body__title {
    font-size: 2.8em;
  }
}
@media screen and (max-width: 520px) {
  .smallview {
    display: none;
  }
  .smallerview {
    display: flex;
    flex-direction: column;
  }
  .danceclub {
    width: 45%;
  }
  .musicclub {
    width: 45%;
  }
  .debateclub {
    width: 45%;
  }
  .pfcclub {
    width: 45%;
  }
  .quizclub {
    width: 45%;
  }
  .spicmacayclub {
    width: 45%;
  }
  .hindisamiticlub {
    width: 45%;
  }
  .dramaclub {
    width: 45%;
  }
  .faccclub {
    width: 45%;
  }
  .litclub {
    width: 45%;
  }
  .designclub {
    width: 45%;
  }
  .club__content__text {
    font-size: 1.1em;
  }
}
