.layoutapp {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  background-image: url("Background\ Pattern.png");
  background-size: 100% 100%;
}
*::-webkit-scrollbar {
  display: none;
}
.layoutappbody {
  width: 100vw;
  padding-top: calc(90 / 1412 * 100%);
}
.layoutappbody__title {
  width: 100%;
  height: calc(66 / 1044 * 100%);
  display: flex;
  justify-content: center;
  margin-bottom: 4%;
}
.layoutappbody__title > h1 {
  color: #ffffff;
  font-size: 2.5em;
}
@media screen and (max-width: 450px) {
  .layoutappbody__title > h1 {
    font-size: 2em;
  }
}
@media screen and (max-width: 360px) {
  .layoutappbody__title > h1 {
    font-size: 1.5em;
  }
}
.format1 {
  display: flex;
  flex-direction: column;
}
.layoutappfirst__row1 {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 2%;
}
.layoutappsecond__row1 {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 2%;
}
.layoutappthird__row1 {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 4%;
}
.format2 {
  display: none;
}
.layoutappfirst__row2 {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 2%;
}
.layoutappsecond__row2 {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 2%;
}
.layoutappthird__row2 {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 2%;
}
.layoutappfourth__row2 {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 4%;
}
.format3 {
  display: none;
}
.layoutappfirst__row3 {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 2%;
}
.layoutappsecond__row3 {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 2%;
}
.layoutappthird__row3 {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 2%;
}
.layoutappfourth__row3 {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 2%;
}
.layoutappfifth__row3 {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 4%;
}
.format4 {
  display: none;
}
.layoutappfirst__row4 {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 2%;
}
.layoutappsecond__row4 {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 2%;
}
.layoutappthird__row4 {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 2%;
}
.layoutappfourth__row4 {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 2%;
}
.layoutappfifth__row4 {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 2%;
}
.layoutappsixth__row4 {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 2%;
}
.layoutappseventh__row4 {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 4%;
}
.format5 {
  display: none;
}
.layoutappfirst__row5 {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 2%;
}
.layoutappsecond__row5 {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 2%;
}
.layoutappthird__row5 {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 2%;
}
.layoutappfourth__row5 {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 2%;
}
.layoutappfifth__row5 {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 2%;
}
.layoutappsixth__row5 {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 2%;
}
.layoutappseventh__row5 {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 2%;
}
.layoutappeighth__row5 {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 4%;
}
@media screen and (max-width: 1000px) {
  .layoutappbody__title {
    margin-top: 2%;
  }
}
@media screen and (max-width: 1240px) {
  .format1 {
    display: none;
  }
  .format2 {
    display: flex;
    flex-direction: column;
  }
  .format3 {
    display: none;
  }
  .format4 {
    display: none;
  }
  .format5 {
    display: none;
  }
}
@media screen and (max-width: 850px) {
  .format1 {
    display: none;
  }
  .format2 {
    display: none;
  }
  .format3 {
    display: flex;
    flex-direction: column;
  }
  .format4 {
    display: none;
  }
  .format5 {
    display: none;
  }
}
@media screen and (max-width: 670px) {
  .format1 {
    display: none;
  }
  .format2 {
    display: none;
  }
  .format3 {
    display: none;
  }
  .format4 {
    display: flex;
    flex-direction: column;
  }
  .format5 {
    display: none;
  }
}
@media screen and (max-width: 670px) {
  .format1 {
    display: none;
  }
  .format2 {
    display: none;
  }
  .format3 {
    display: none;
  }
  .format4 {
    display: none;
  }
  .format5 {
    display: flex;
    flex-direction: column;
  }
}
