.mainSecBooking{
    color: black;
    }
    .mainheading {
      font-family: "Raleway";
      font-size: 5vw;
      font-weight: 1000;
      line-height: 8vw;
      letter-spacing: 2px;
      color: #ffffff;
      margin-top: 100px;
      margin-bottom: 42px;
    }

      .wrapper{
        width:70%;
        margin: auto;
      }
      @media(max-width:992px){
       .wrapper{
        width:80%;
      } 
    }
   
      .accordion-button{
        display:block;
        padding:15px;
      border: none;
      border-radius: 4px;
      color:white !important;
      background-color: #f76d6d !important;
      text-align: center;
      font-size:16px;
      font-weight:bold;
        text-transform:uppercase;
        letter-spacing:1px;
      word-spacing:3px;
        text-decoration:none !important;
    }
    .accordion-button:hover{
      text-shadow: none !important;
    }
    .accordion-header{
        background-color: #f76d6d; 
    }
    .accordion-item{
        font-family: Poppins;
        display:block;
        padding:5px;
      border: none;
      border-radius: 4px;
      color:white;
      background-color: #f76d6d;
        text-transform:uppercase;
        letter-spacing:1px;
      word-spacing:3px;
        text-decoration:none !important;
        margin: 0.8vw 0;
    }
    .accordion-collapse{
        background-color: #ffffff;
        color: black;
    }
