.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: calc(133 / 1412 * 100vh);
  background-image: url("Onboarding Investment App.png");
  background-size: contain;
  display: flex;
  justify-content: space-between;
}
.navbar::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  border-bottom: calc(3 / 1412 * 100vh) solid #ffffff;
  width: calc(953.34 / 1918 * 100%);
}
.navbar__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 12%;
  margin-left: 1.5%;
  margin-top: 0.02%;
  cursor: pointer;
  background-image: url("Front Design-01 6.png");
  background-size: 100% 100%;
}
.navbar__logo:hover {
  background-image: url("BRCA Logo New.png");
  background-size: 100% 100%;
}
/* .logo__image {
    height: 100%;
    width: 100%;
  } */
/* .navbar > img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: calc(20 / 1918 * 100vw);
    cursor: pointer;
  } */
/* .navbar > img:hover {
    background-color: yellowgreen;
  } */
.navbar__right {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.navbar__text {
  color: rgba(255, 255, 255, 1);
  font-family: "Roboto", sans-serif;
  width: auto;
  height: 100%;
  font-size: 1em;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: calc(40 / 1918 * 100vw);
  padding-right: calc(40 / 1918 * 100vw);
}
#navbar__rightmost {
  margin-right: calc(60 / 1918 * 100vw);
}
.rendezvous__inner {
  display: flex;
  height: 20%;
  padding: 10%;
  justify-content: center;
  align-items: center;
  background-color: #161b33;
}
.navbar__text:hover {
  background-color: rgba(196, 196, 196, 1);
}
@media screen and (max-width: 1080px) {
  .navbar__text {
    font-size: 0.85em;
  }
  .navbar__logo {
    height: 80%;
    margin-top: 0.55%;
  }
}
@media screen and (max-width: 940px) {
  .navbar__text {
    font-size: 0.65em;
  }
}
