/*Home Page*/

/*Left portion having texts*/
.mainSecHome{
  color: #ffffff;
  overflow: hidden;
}
.texts {
  position: absolute;
  top: 12vw !important;
  color: #ffffff !important;
  margin-left: 4%;
  width: 50%;
}
.texts {
  position: absolute;
  top: 10vw;
  margin-left: 5%;
  width: 50%;
}
.hhead {
  font-weight: 800;
  font-size: 5vw;
  text-transform: uppercase;
  top: 200px;
  line-height: 120%;
}
.hhead .iit {
  color: #f76d6d;
}
.shead {
  font-weight: bolder;
  line-height: 120%;
  font-family: "Raleway";
  font-size: 2vw;
}
.texts > p {
  font-family: "Raleway";
  font-weight: 100;
  font-size: 1.3vw;
  line-height: 4vh;
  margin-right: 5vw;
  justify-content: left;
}
.exp {
  overflow: visible;
  font-weight: 200;
  width: 25vw !important;
  border-radius: 50px;
  padding: 1.5vw 0 1.5vw 0;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  background-color: #f76d6d;
  height: 5vw;
  margin-top: 20px;
  font-size: 1.5vw;
}
.btn:hover,
button:hover {
  text-decoration: none!important;
  -webkit-box-shadow: 0px 14px 20px -9px rgba(0, 0, 0, 0.85)!important;
  -moz-box-shadow: 0px 14px 20px -9px rgba(0, 0, 0, 0.85)!important;
  box-shadow: 0px 14px 20px -9px rgba(0, 0, 0, 0.85)!important;
  color: white!important;
}
.fa {
  color: white;
  padding: 1vw;
  font: 16px FontAwesome !important;
  font-size: xxx-large !important;
  text-align: center;
  text-decoration: none;
}
.s_icons {
  position: absolute;
  display: block;
  bottom: 20px;
  right: 30px;
}
.fa-instagram:hover {
  color: #e4405f;
  text-decoration: none;
  transition-duration: 0.5s;
  /* text-shadow: 2px 2px white; */
}
.fa-facebook:hover {
  color: #1877f2;
  text-decoration: none;
  transition-duration: 0.5s;
  /* text-shadow: 2px 2px 5px white; */
}
.fa-twitter:hover {
  color: #1da1f2;
  text-decoration: none;
  transition-duration: 0.5s;
  /* text-shadow: 2px 2px 5px white; */
}
.section2{
  display: flex;
}
.images{
  width: 40.26vw;
  height: 28.6vw;
  margin: 10.78vw 0 0 54vw;
}
.image2{
  width: 39.26vw;

  height: 30.6vw;
  
  margin: -30vw 0 0 54vw;
}
@media only screen and (max-width: 992px) {

  .texts {
    position: absolute;
    top:140px !important;
    left: 0;
    margin-left: 6%;
  }
  .images{
    margin-top:140px;
  }

}
@media only screen and (max-width: 768px) {
  .mainSecHome{
    height: 100%;
    background-repeat: no-repeat !important;
    background-image: url("/src/frame5/images/background2.png")!important;
    background-size: inherit !important;
    min-height: fit-content;
  }

  .section2{
    flex-direction: row;
  }
  .s_icons{
    margin: 0 0 0 76%;
    position: static;
  }
  .texts {
    width: auto;
    
  }
  .hhead {
    font-size: 10vw;
  }
  .shead {
    font-size: 3.8vw;
  }
  .texts > p {
    font-size: 2.4vw;
    margin-right: 20vw;
    line-height: 3.5vw;
}
  .exp {
    width: 37vw !important;
    font-size: 3vw;
    height: 8.5vw;
  }
  .fa {
    font-size: 7vw;
  }
  .images {
    width: 80%;
    height: 40%;
    margin: 80vw 0 0 5vw;
}
}
@media only screen and (max-width: 635px) {
  .images{
    
    margin: 88vw 0 0 2vw;
  }
  .s_icons{
    margin: 0 0 0 69%;
    position: inherit;
  }
}
@media only screen and (max-width: 500px) {
  .images{
 
    margin: 98vw 0 0 2vw;
   
  }
  .s_icons{
    margin: 4% 0 0 74%;
    position: inherit;
  }
  .fa{
    font-size: xx-large !important;
  }
  .exp{
    margin-top: 17px !important;
  }
}
@media only screen and (max-width: 403px) {
  .images{
    margin:110vw 0 0 2vw;
  }
  .s_icons{
    margin: 15% 0 0 70%;
  }
  .fa{
    font-size: xx-large !important;
  }
  .exp{
    margin-top: 15px !important;
  }
}
@media only screen and (max-width: 303px) {
.images{
  margin-top:125vw ;
}
}