/* Frame 15 */

.heading{

    font-family: 'Raleway', sans-serif;
    font-size: max(5.39vw,67);
    font-weight: bolder;
    line-height: 85px;
    letter-spacing: 2px;
    color: #FFFFFF;
    margin-top: 100px;
    margin-bottom: 42px;
}
.bgg {
    overflow: hidden;
    background-color: rgba(134, 134, 134, 0.25);
    height: auto;
    width: 100%;
    align-items: center;
    padding: 30px 0px 40px 0px;
}
.btn {
    opacity: 1;
    overflow: visible;
    width: 134px;
    border-radius: 40px !important ;
    font-weight:500;
    margin: 40px 40px 10px 40px;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    background-color: #F76D6D;
}
a:hover {
    text-decoration: none !important;
}
/*  */