.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: calc(235 / 1621 * 100vh);
  background-color: rgba(38, 38, 81, 1);
  display: flex;
  justify-content: space-around;
}
.footer__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: calc(-100 / 1921 * 100%);
  height: 100%;
  width: 21%;
  background-image: url("Front Design-01 6.png");
  background-size: 100% 100%;
  cursor: pointer;
  /* transition: 0.3s; */
}
.footer__logo:hover {
  background-image: url("BRCA Logo New.png");
  background-size: 100% 100%;
}
/* .footer > img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: calc(-130 / 1918 * 100vw);
    cursor: pointer;
  } */
@media screen and (max-width: 1100px) {
  .footer__logo {
    height: 70%;
    margin-top: 2%;
    margin-left: calc(-80 / 1921 * 100%);
  }
}
/* .footer > img:hover {
    background-color: yellowgreen;
  } */
.footer__text1,
.footer__text2,
.footer__text3 {
  color: rgba(255, 255, 255, 1);
  font-size: 0.65em;
}
.footer__text1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
}
.footer__text2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
}
.footer__text3 {
  font-family: "Poppins", sans-serif;
  margin-top: 1%;
}
@media screen and (max-width: 900px) {
  .footer__text1,
  .footer__text2,
  .footer__text3 {
    font-size: 0.6em;
  }
}
