.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: calc(138 / 1621 * 100vh);
  background-image: url("Onboarding Investment App.png");
  background-size: contain;
  display: flex;
  justify-content: space-between;
}
.navbar::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  border-bottom: calc(3 / 1412 * 100vh) solid #ffffff;
  width: calc(953.34 / 1921 * 100%);
}
.navbar__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 12%;
  margin-left: 1.5%;
  margin-top: 0.02%;
  cursor: pointer;
  background-image: url("Front Design-01 6.png");
  background-size: 100% 100%;
}
.navbar__logo:hover {
  background-image: url("BRCA Logo New.png");
  background-size: 100% 100%;
}
/* .logo__image {
    height: 100%;
    width: 100%;
  } */
/* .navbar > img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: calc(20 / 1918 * 100vw);
    cursor: pointer;
  } */
/* .navbar > img:hover {
    background-color: yellowgreen;
  } */
.navbar__right {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.navbar__text {
  color: rgba(255, 255, 255, 1);
  font-family: "Roboto", sans-serif;
  width: auto;
  height: 100%;
  font-size: 1em;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: calc(40 / 1921 * 100vw);
  padding-right: calc(40 / 1921 * 100vw);
}
#navbar__rightmost {
  margin-right: calc(60 / 1921 * 100vw);
}
.rendezvous__inner {
  display: flex;
  height: 20%;
  padding: 10%;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #f76d6d;
}
.navbar__text:hover {
  color: #f76d6d;
}
#navbar__rightmost:hover {
  color: rgba(255, 255, 255, 1);
}
.navbarcontainer {
  display: none;
}
@media screen and (max-width: 1080px) {
  .navbar__text {
    font-size: 0.85em;
  }
  .navbar__logo {
    height: 80%;
    margin-top: 0.55%;
  }
}
@media screen and (max-width: 940px) {
  .navbar__text {
    font-size: 0.65em;
  }
}
@media screen and (max-width: 700px) {
  .navbar__logo {
    height: 100%;
    width: 40%;
  }
  .navbar__right {
    display: none;
  }
  .navbarbutton {
    /* background-color: #4CAF50; */
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    z-index: 1000;
  }

  /* The container <div> - needed to position the dropdown content */
  .navbarcontainer {
    position: relative;
    display: inline-block;
    z-index: 1000;
  }

  /* Dropdown Content (Hidden by Default) */
  .navbardropdown {
    display: none;
    position: absolute;
    background-color: #3c3c3c;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1000;
  }

  /* Links inside the dropdown */
  .navbardropdown > div {
    color: #ffffff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  /* Change color of dropdown links on hover */
  .navbardropdown > div:hover {
    background-color: #f1f1f1;
  }

  /* Show the dropdown menu on hover */
  .navbarcontainer:hover .navbardropdown {
    display: block;
  }
}
