.profinfocard {
  width: 250px;
  height: 350px;
  padding: 1%;
  display: flex;
  flex-direction: column;
  background-color: #fffbfb;
  border-radius: 15px;
  margin-left: 0.75%;
}
.profphoto {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
}
.profphoto > img {
  width: 100%;
  height: 100%;
}
.profinfocard > h2 {
  font-size: 1.35em;
  color: #000;
}
.profinfocard > h3 {
  font-size: 1.2em;
  margin-top: -1%;
  color: #6a6565;
}
.profinfocard__bottom > .MuiSvgIcon-root {
  margin-top: -4%;
  height: 80%;
  width: 15%;
  margin-right: 7.5%;
  cursor: pointer;
  color: #6a6565;
}
.infocard__bottom > a > .MuiSvgIcon-root {
  cursor: pointer;
}
.proffacebook__icon:hover {
  color: #4267b2;
  transform: scale(1.5);
}
.profinsta__icon:hover {
  color: #ffffff;
  background: #f09433;
  background: -moz-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
  transform: scale(1.2);
}
.proflinkedin__icon:hover {
  color: #0e76a8;
  transform: scale(1.5);
}
@media screen and (max-width: 630px) {
  .profinfocard {
    margin-bottom: 10vh;
    padding: 1.5%;
    margin-left: 0;
    width: 200px;
    height: 300px;
    border-radius: 10px;
  }
  .profinfocard > h2 {
    font-size: 0.95em;
  }
  .profinfocard > h3 {
    font-size: 0.75em;
  }
}
